@font-face {
  font-family: "Vujahday Script";
  src: local("Vujahday Script"),
    url("/fonts/VujahdayScript-Regular.woff2") format("woff2");
  font-display: auto;
}

:root > * {
  --md-primary-fg-color: #e35336;
  --md-primary-fg-color--light: #e1816e;
  --md-primary-fg-color--dark: #c2381c;
}

.md-header__title,
label.md-nav__title:has(a) {
  font-family: "Vujahday Script", cursive;
  font-weight: 400;
  font-style: normal;
}
